/* html {
  overflow-y: hidden;
}
 */
body {
  margin: 0;
  background: #fbfbfb; /* maybe gradient */
  font-family: 'Yantramanav', sans-serif;
  height: 100vh;
  scroll-behavior: smooth;
}

.tooltip {
  position: absolute;
  z-index: 20;
  visibility: hidden;
  color: white;
  padding: 8px;
  background-color: rgba(105, 105, 105, 0.9);
  border-radius: 6px;
  font-size: 14px;
  font-family: helvetica;
  text-anchor: middle
}

.target {
  cursor: pointer;
}

.tweet {
  font-size: 16px;
  cursor: pointer;
}

.tweet:hover {
  text-decoration: underline;
}

.tweetTitle {
  font-size: 22px;
}

.button {
  min-width: 130px;
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  text-decoration: none;
  background: white;
  outline: none;
  border-radius: 20px;
  font-family: 'Yantramanav', sans-serif;
  font-size: 15px;
}




.display-buttons-1 {
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
}

h1{
  font-family: 'Abril Fatface', cursive;
  margin: 0 50px;
  text-align: center;
  padding-top: 25px;
 }

.button.active {
  background: #000;
  color: #fff;
}

.titleGender, .title{
  font-size: 17px;
}

.tweetTitle {
  font-family: 'Abril Fatface', cursive;
}

.chart {
  /*height: 100vh;*/
  width: 100vw;
}

#menu {
  display: inline;
  text-align: center;
  width: 100%;
  position: fixed;
}

#toolbar {
  display: inline;
  margin-top: 70px;
  text-align: center;
  width: 100%;
  position: fixed;
}

p > a {
  color: #fa8072;
}


.titanic-menu-close{
  height: 36px;
  position: fixed;
  margin: 31px auto;
  right: 20px;
  z-index: 1;
}


@media only screen and (max-device-width: 767px) {
  .button {
    font-size: 24px;
    margin: 8px;
  }

  .display-buttons-1 {
    padding-top: 60px;
  }

  #menu {
    font-size: 12px;
  }
}

/* MENU Icon 2 */
/* #nav-icon2 {
  width: 60px;
  margin: 31px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  position: absolute;
  right: 20px;
  z-index: 1;
}

#nav-icon2-container {
  width: 40px;
}

#nav-icon2 span {
  display: block;
  position: absolute;
  height: 5px;
  width: 30%;
  background: #fa8072;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:12px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 8px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 28px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 13px;
  top: 11px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 11px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 13px;
  top: 23px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 23px;
} */

