body {
  margin: 0;
}

.tooltip {
  position: absolute;
  z-index: 20;
  visibility: hidden;
  color: white;
  padding: 8px;
  background-color: rgba(105, 105, 105, 0.8);
  border-radius: 6px;
  font-size: 14px;
  font-family: helvetica;
  text-anchor: middle
}

.target {
  cursor: pointer;
}

.tweet {
  font-size: 12px;
  cursor: pointer;
}

.tweet:hover {
  text-decoration: underline;
}

.button {
  min-width: 130px;
  padding: 4px 5px;
  cursor: pointer;
  text-align: center;
  font-size: 13px;
  border: 1px solid #e0e0e0;
  text-decoration: none;
  background: white;
  outline: none;
}

.button.active {
  background: #000;
  color: #fff;
}

.title {
  font-family: helvetica;
}

.chart {
  height: 100vh;
  width: 100vw;
}