<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/> <!--320-->
  <meta property="og:title" content="Trump Tweets" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://trumptwittering.com" />
  <meta property="og:description"
  content="The people, places, and things Trump has insulted on twitter, in interactive charts." />
  <title>Trump Tweets</title>
  <link rel="stylesheet" type="text/css" href="stylesheets/modal.css">
  <link rel="stylesheet" type="text/css" href="stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Yantramanav:300" rel="stylesheet">
  <script src="https://cdn.rawgit.com/icons8/titanic/master/dist/js/titanic.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/4.5.9/bodymovin.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
</head>
<body>

  <div id="menu">
    <h1 id="title">The People, Places, and Things Donald Trump Has Insulted on Twitter</h1>
    <div class="titanic titanic-menu-close" id="nav-icon2"></div>
  </div>
  <div id="toolbar">
    <div class="display-buttons-1">
      <button id="all" class="button active">All Tweets</button>
      <button id="gender" class="button">By Gender</button>
      <button id="category" class="button">By Category</button>
    </div>
    <div class="display-buttons-2" style="display: none">
      <button id="back" class="button active">Back</button>
    </div>
  </div>



<!--
  <div id="nav-icon2">
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div> -->

<!-- The Modal -->
<div id="myModal" class="modal">
  <!-- Modal content -->
  <div class="modal-content">
    <div class="modal-body">
      <span class="close"><!-- &times; --></span>
      <p>We came across <a href="https://www.nytimes.com/interactive/2016/01/28/upshot/donald-trump-twitter-insults.html" target="_blank">
      this piece</a> by the New York Times, and decided it would make for a pretty
      neat visualization project. We wanted to get a better sense of the gender breakdown and
      different types of folks that Trump had insulted on Twitter.</p>
      <p>We wrote a javascript scraper to pull recent data from the NYT, and visualized it
      all with D3.</p>
      <p>Check it out and let us know what you think.</p>
      <p>Here's <a href="https://github.com/saoun/TRPtweets" target="_blank">the code</a> if you want to take a closer look.</p>
      <p><i>made with 🔥 by <a href="https://twitter.com/sa0un" target="_blank">Shadowcat</a> & <a href="https://twitter.com/0xStarcat" target="_blank">Starcat</a></i></p>
      <p>Want to share it? <a href='#' onclick='return false' id="clipboard-link" data-clipboard-text="https://trumptwittering.com">Copy the link</a>, or <a href="https://twitter.com/intent/tweet?original_referer=http%33A%2F%2Flocalhost%3A3000%2F&ref_src=twsrc%5Etfw&text=The%20People,%20Places,%20and%20Things%20Donald%20Trump%20Has%20Insulted%20On%20Twitter,%20in%20interactive%20charts&tw_p=tweetbutton&url=https%3A%2F%2Ftrumptwittering.com">tweet it</a>.</p>
      <script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>

    </div>
  </div>
</div>


<!-- Buttons Menu -->
  <div class="chart">
    <ul class="tweet-list" style="display:none;"></ul>
  </div>


   <script>
      var titanic = new Titanic('../dist/icons/')
      var clipboard = new Clipboard('#clipboard-link');
  </script>
</body>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="javascript/Data/data.js" type="text/javascript" charset="utf-8"></script>
<script src="javascript/Data/graphicAssignments.js" type="text/javascript" charset="utf-8"></script>
<script src="javascript/Data/d3Objects.js" type="text/javascript" charset="utf-8"></script>
<script src="javascript/Utilities/ajax.js" type="text/javascript" charset="utf-8"></script>
<script src="javascript/Utilities/d3Constructors.js" type="text/javascript" charset="utf-8"></script>
<script src="javascript/Utilities/forces.js" type="text/javascript" charset="utf-8"></script>
<script src="javascript/Utilities/eventListeners.js" type="text/javascript" charset="utf-8"></script>
<script src="javascript/Utilities/dataHelpers.js" type="text/javascript" charset="utf-8"></script>
<script src="javascript/Utilities/pageTransitions.js" type="text/javascript" charset="utf-8"></script>
<script src="javascript/Utilities/modal.js" type="text/javascript" charset="utf-8"></script>
<script src="javascript/index.js" type="text/javascript" charset="utf-8"></script>
<script src="javascript/app.js" type="text/javascript" charset="utf-8"></script>
</html>
