<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Trump Tweets</title>
  <link rel="stylesheet" href="stylesheets/style.css">
  <link href="https://fonts.googleapis.com/css?family=Abril+Fatface|Yantramanav:300" rel="stylesheet">
</head>
<body>

<div id="menu">
  <h1 id="title">The People, Places, and Things Donald Trump Has Insulted on Twitter</h1>
</div>
<div id="nav-icon2">
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
  <span></span>
</div>

<div class="chart">
  <div id="toolbar">
    <div class="display-buttons-1">
      <button id="all" class="button active">All Tweets</button>
      <button id="gender" class="button">By Gender</button>
      <button id="category" class="button">By Category</button>
    </div>

    <div class="display-buttons-2" style="display: none">
      <button id="back" class="button active">Back</button>
    </div>

  </div>
  <ul class="tweet-list" style="display:none;"></ul>
</div>


</body>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="javascript/Data/data.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="javascript/Data/graphicAssignments.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="javascript/Data/d3Objects.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="javascript/Utilities/ajax.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="javascript/Utilities/d3Constructors.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="javascript/Utilities/forces.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="javascript/Utilities/eventListeners.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="javascript/Utilities/dataHelpers.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="javascript/Utilities/pageTransitions.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="javascript/index.js" type="text/javascript" charset="utf-8" async defer></script>
<script src="javascript/app.js" type="text/javascript" charset="utf-8" async defer></script>
</html>
