<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title></title>
  <link rel="stylesheet" href="stylesheets/style.css">
</head>
<body>

<div id="toolbar">
  <button id="all" class="button active">All Tweets</button>
  <button id="gender" class="button">By Gender</button>
  <button id="category" class="button">By Category</button>
</div>

<div class="chart">

</div>


</body>
<script src="https://d3js.org/d3.v4.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="javascript/script.js" type="text/javascript" charset="utf-8" async defer></script>
</html>
